/* Coolors Exported Palette - https://coolors.co/bae4b4-a7c8ae-536e79-333f71-062b60 */

/* CSS HEX */
--celadon: #bae4b4ff;
--cambridge-blue: #a7c8aeff;
--cadet: #536e79ff;
--dark-cornflower-blue: #333f71ff;
--royal-blue-dark: #062b60ff;

/* CSS HSL */
--celadon: hsla(113, 47%, 80%, 1);
--cambridge-blue: hsla(133, 23%, 72%, 1);
--cadet: hsla(197, 19%, 40%, 1);
--dark-cornflower-blue: hsla(228, 38%, 32%, 1);
--royal-blue-dark: hsla(215, 88%, 20%, 1);

/* SCSS HEX */
$celadon: #bae4b4ff;
$cambridge-blue: #a7c8aeff;
$cadet: #536e79ff;
$dark-cornflower-blue: #333f71ff;
$royal-blue-dark: #062b60ff;

/* SCSS HSL */
$celadon: hsla(113, 47%, 80%, 1);
$cambridge-blue: hsla(133, 23%, 72%, 1);
$cadet: hsla(197, 19%, 40%, 1);
$dark-cornflower-blue: hsla(228, 38%, 32%, 1);
$royal-blue-dark: hsla(215, 88%, 20%, 1);

/* SCSS RGB */
$celadon: rgba(186, 228, 180, 1);
$cambridge-blue: rgba(167, 200, 174, 1);
$cadet: rgba(83, 110, 121, 1);
$dark-cornflower-blue: rgba(51, 63, 113, 1);
$royal-blue-dark: rgba(6, 43, 96, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #bae4b4ff, #a7c8aeff, #536e79ff, #333f71ff, #062b60ff);
$gradient-right: linear-gradient(90deg, #bae4b4ff, #a7c8aeff, #536e79ff, #333f71ff, #062b60ff);
$gradient-bottom: linear-gradient(180deg, #bae4b4ff, #a7c8aeff, #536e79ff, #333f71ff, #062b60ff);
$gradient-left: linear-gradient(270deg, #bae4b4ff, #a7c8aeff, #536e79ff, #333f71ff, #062b60ff);
$gradient-top-right: linear-gradient(45deg, #bae4b4ff, #a7c8aeff, #536e79ff, #333f71ff, #062b60ff);
$gradient-bottom-right: linear-gradient(135deg, #bae4b4ff, #a7c8aeff, #536e79ff, #333f71ff, #062b60ff);
$gradient-top-left: linear-gradient(225deg, #bae4b4ff, #a7c8aeff, #536e79ff, #333f71ff, #062b60ff);
$gradient-bottom-left: linear-gradient(315deg, #bae4b4ff, #a7c8aeff, #536e79ff, #333f71ff, #062b60ff);
$gradient-radial: radial-gradient(#bae4b4ff, #a7c8aeff, #536e79ff, #333f71ff, #062b60ff);